@use "reset";
@use "variables";

@mixin small {
  @media screen and (min-height: 45rem) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

body {
  cursor: default;
  background-color: variables.$dark-blue;
  color: variables.$white;
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 18px;
    color: variables.$soft-blue;
    font-weight: 300;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 22rem;
  border-radius: 1rem;
  background-color: variables.$dark-blue-card;
  padding: 1.5rem;
  margin: 1rem;
  transition: ease-in-out 0.2s;
  @include hover {
    box-shadow: 0px 0px 10px 0px hsl(216deg 54% 50%);
  }
}

.figure {
  display: grid;
  grid-template: 1fr / 1fr;
  justify-items: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;

  img {
    grid-area: 1 / 1;
    border-radius: 0.5rem;
    transition: 0.5s;
  }

  &::after {
    content: url("../images/icon-view.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    background-color: variables.$cyan;
    position: relative;
    transition: 0.5s;
    border-radius: 0.5rem;
    opacity: 0;
  }

  &:hover {
    img {
      filter: blur(2px);
    }

    &::after {
      opacity: 0.5;
    }
  }
}

.title {
  cursor: default;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 1rem;
  transition: ease-in-out 0.2s;
  @include hover {
    color: variables.$cyan;
  }
}

.description {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  &__ethereum {
    display: flex;
    align-items: center;
    color: variables.$cyan;
    font-weight: 600;
    svg {
      transition: 0.5s;
      margin-right: 6px;
    }
    @include hover {
      svg {
        transition: 0.5s;
        transform: rotate(360deg);
      }
    }
  }

  &__remaining {
    display: flex;
    align-items: center;
    color: variables.$soft-blue;
    font-weight: 400;
    svg {
      transition: 0.5s;
      margin-right: 6px;
    }
    @include hover {
      svg {
        transition: 0.5s;
        transform: rotate(360deg);
      }
    }
  }
}

.separator {
  width: 100%;
  border: 0;
  border-top: 1px solid variables.$dark-blue-line;
}

.creator {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  p {
    font-size: 1rem;
    align-self: center;
  }
  &__image {
    max-width: 2.5rem;
    border-radius: 100%;
    border: 1px solid variables.$soft-blue;
    margin-right: 1rem;
  }
  &__name {
    color: variables.$white;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    text-decoration: none;
    @include hover {
      color: variables.$cyan;
    }
  }
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  a {
    color: inherit;
    transition: 0.2s;
    @include hover {
      transition: 0.2s;
      color: variables.$cyan;
    }
  }
  @include small {
    position: fixed;
    bottom: 0.5rem;
  }
}
